@page "/"

@using BlazorLeaflet.Models
@using BlazorLeaflet.Models.Events
@using Radzen.Blazor;




<h1>Blazor Leaflet </h1>

<div style="height: 500px; width: 1000px;">
    <LeafletMap Map="_map" />
</div>
@*<style> 
    .flex-container { 
        display: flex; 
        height: 500px; 
        width: 700px;         
    } 
</style> 
*@
<RadzenDatePicker @bind-Value=@RadzenDatePickerValue DateRender=@DateRenderSpecial Change=@(args => RadzenDatePickerOnChange(args, "DatePicker with special dates", "MM/dd/yyyy")) />

<RadzenListBox @bind-Value=@ListBoxValue Data=@ListBoxItems TextProperty="CompanyName" ValueProperty="CustomerID" Style="height:200px" Change=@(args => ListBoxOnChange(args, "ListBox")) />


@*<div class="pt-3">
    <DrawZoneToggleButton ButtonText="Draw Rectangle" DrawHandler="_drawHandler" OnToggleCallback="_drawHandler.OnDrawRectangleToggle" />
    <DrawZoneToggleButton ButtonText="Draw Circle" DrawHandler="_drawHandler" OnToggleCallback="_drawHandler.OnDrawCircleToggle" />
    <DrawZoneToggleButton ButtonText="Draw Polygon" DrawHandler="_drawHandler" OnToggleCallback="_drawHandler.OnDrawPolygonToggle" />
</div>
*@
@code
{

}