@page "/"

@using BlazorLeaflet.Models
@using BlazorLeaflet.Models.Events
@using Radzen.Blazor;


@inject IJSRuntime jsRuntime

<h1>Blazor Leaflet </h1>

<h3>Drag &amp; drop the Marker!</h3>

<div class="form-inline m-2">
    <div class="form-group mb-2">
        <label>Lat </label>
        <input class="form-control ml-2 mr-2" placeholder="city name" @bind="_markerLatLng.Lat" disabled />
    </div>

    <div class="form-group mb-2">
        <label>Lng </label>
        <input class="form-control ml-2 mr-2" placeholder="city name" @bind="_markerLatLng.Lng" disabled />
    </div>
</div>

<div style="height: 500px; width: 500px;">
    <LeafletMap Map="_map" />
</div>


<RadzenDatePicker @bind-Value=@RadzenDatePickerValue DateRender=@DateRenderSpecial Change=@(args => RadzenDatePickerOnChange(args, "DatePicker with special dates", "MM/dd/yyyy")) />

<RadzenListBox @bind-Value=@ListBoxValue Data=@ListBoxItems TextProperty="CompanyName" ValueProperty="CustomerID" Style="height:200px" Change=@(args => ListBoxOnChange(args, "ListBox")) />


<div class="pt-3">
    <DrawZoneToggleButton ButtonText="Draw Rectangle" DrawHandler="_drawHandler" OnToggleCallback="_drawHandler.OnDrawRectangleToggle" />
    <DrawZoneToggleButton ButtonText="Draw Circle" DrawHandler="_drawHandler" OnToggleCallback="_drawHandler.OnDrawCircleToggle" />
    <DrawZoneToggleButton ButtonText="Draw Polygon" DrawHandler="_drawHandler" OnToggleCallback="_drawHandler.OnDrawPolygonToggle" />
</div>

@code
{

}